<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>PolyVoice needs microphone access to convert your speech to text.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>PolyVoice needs to send keystrokes to type transcriptions at your cursor location.</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleDisplayName</key>
	<string>PolyVoice</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.polyvoice.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>polyvoice</string>
			</array>
		</dict>
	</array>
</dict>
</plist>